:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

/* ================================ */

.Footer {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.Footer .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
}
.Footer .videoDiv video {
  height: 100%;
  object-fit: cover;
}
.Footer .videoDiv video::after {
  content: "";
  position: absolute;
  background: rgba(10, 84, 107, 0.307) !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  mix-blend-mode: multiply;
}

.Footer .secContent {
  width: 100%;
  height: max-content;
  padding: 2rem initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  row-gap: 2rem;
  z-index: 100;
}

.Footer .secContent .contactDiv {
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.Footer .secContent .contactDiv .text small {
  font-size: 13px;
  font-weight: 400;
  color: var(--whiteColor) !important;
}

.Footer .secContent .contactDiv .text h2 {
  color: var(--whiteColor) !important;
  font-size: 1.8rem;
}

.Footer .secContent .contactDiv .inputDiv {
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}

.Footer .secContent .contactDiv .inputDiv input {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border-radius: 3rem;
  border: 1px solid var(--whiteColor) !important;
  outline: none;
  background: transparent;
  color: var(--whiteColor) !important;
}

.Footer .secContent .contactDiv .inputDiv input::placeholder {
  color: var(--whiteColor) !important;
  opacity: 0.5;
  font-size: 0.95rem;
}

.Footer .secContent .contactDiv .inputDiv button {
  width: 100%;
  justify-content: center;
  color: var(--whiteColor) !important;
  font-weight: 500;
  padding: 2px 0;
  gap: 0.25rem;
}

.Footer .secContent .contactDiv .inputDiv .btn .icon {
  color: var(--whiteColor) !important;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.Footer .secContent .footerCard {
  position: relative;
  padding: 0rem 1.5rem 4rem 1.5rem;
  gap: 2rem;
  border-radius: 1rem;
  background: var(--bodyColor) !important;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.Footer .secContent .footerCard .footerIntro {
  flex-basis: 50%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 0.5rem;
}

.Footer .secContent .footerCard .footerIntro .logoDiv .logo {
  color: var(--blackColor) !important;
  font-weight: 600;
}

.Footer .secContent .footerCard .footerIntro .logoDiv .logo .icon {
  font-size: 35px;
  color: var(--PrimaryColor) !important;
  margin-right: 10px;
}

.Footer .secContent .footerCard .footerIntro .footerParagraph {
  font-size: 14px;
  color: var(--textColor) !important;
  text-align: justify;
}

.Footer .secContent .footerCard .footerIntro .footerSocials {
  column-gap: 0.5rem;
}

.Footer .secContent .footerCard .footerIntro .footerSocials .icon {
  font-size: 25px;
  margin: 0.95rem;
}

.Footer .secContent .footerCard .footerIntro .footerSocials .icon:hover {
  color: var(--PrimaryColor) !important;
}

.Footer .secContent .footerCard .footerLinks {
  flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-bottom: 1.75rem;
}

.Footer .secContent .footerCard .footerLinks .linkGroup {
  margin-bottom: 2rem;
}

.Footer .secContent .footerCard .footerLinks .linkGroup .groupTitle {
  display: block;
  font-weight: 600;
  color: var(--blackColor) !important;
  margin-bottom: 0.5rem;
  margin-top: -2rem;
}

.Footer .secContent .footerCard .footerLinks .linkGroup .footerList {
  font-size: 15px;
  color: var(--textColor) !important;
  transition: 0.3s ease-in-out;
}

.Footer .secContent .footerCard .footerLinks .linkGroup .footerList:hover {
  font-size: 15px;
  color: var(--PrimaryColor) !important;
  transform: translateX(15px);
}

.Footer .secContent .footerCard .footerLinks .linkGroup .footerList .icon {
  font-size: 15px;
  color: var(--greyText) !important;
}

.Footer
  .secContent
  .footerCard
  .footerLinks
  .linkGroup
  .footerList
  .icon:hover {
  color: var(--PrimaryColor) !important;
  transform: translateX(8px);
}

.Footer .secContent .footerCard .footerDiv {
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--SecondaryColor) !important;
  padding: 0.5rem 2rem;
  margin-right: -2rem;
  margin-left: -2rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.Footer .secContent .footerCard .footerDiv small {
  font-size: 13px;
  color: var(--whiteColor) !important;
  margin-bottom: 0.5rem;
}
